* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

header nav {
  height: 50px;
  background: #212121;
  position: fixed;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu .menu_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

.menu .menu_item + .menu_item {
  border-left: 2px dotted black;
  padding-left: 50px;
}

.subheader {
  margin-top: 50px;
  height: 84px;
  background: #00000099;
  position: absolute;
  width: 100%;
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_official {
  margin-top: 6px;
  font-weight: 100;
  font-size: 13px;
  color: #ffffff99;
}

.subheader .subheader_call {
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  text-align: right;
}

.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  line-height: 12px;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
  min-height: 800px;
  background: url('../img/bg/uber_bg.jpg') center center/cover no-repeat;
  padding: 150px 0 135px;
}

.promo .promo_header {
  margin: 0;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.promo .promo_subheader {
  margin: 22px 0 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.promo .promo_description {
  margin-top: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
  padding: 18px 0 64px;
}

.reasons .reasons_subheader {
  width: 115px;
  height: 27px;
  margin: 0 auto;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.reasons .reasons_header {
  margin-top: 30px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.reasons .reasons_item {
  margin-top: 26px;
  display: flex;
}

.reasons .reasons_round {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  background: #1eacc7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
}
.reasons .reasons_wrapper {
  width: 343px;
  
}

.reasons .reasons_title {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1eacc7;
}

.reasons .reasons_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}
