* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}
header nav {
  height: 50px;
  background: #212121;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}
.menu_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}
.menu_item + .menu_item {
  border-left: 2px dotted black;
  padding-left: 50px;
}

.subheader {
  margin-top: 50px;
  height: 84px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 6px;
  font-weight: 100;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
.subheader_call {
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  text-align: right;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  line-height: 12px;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  text-align: right;
  text-decoration: none;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.hamburger {
  display: none;
}

.promo {
  min-height: 800px;
  background: url("../img/bg/uber_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px;
}
.promo_header {
  margin: 0;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.promo_subheader {
  margin: 22px 0 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.promo_description {
  margin-top: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
.promo_btn {
  display: block;
  margin: 118px auto 0;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  padding: 20px 0 64px;
}
.reasons_item {
  margin-left: 33px;
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reasons_round {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  background: #1eacc7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
}
.reasons_wrapper {
  width: 343px;
}
.reasons_title {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1eacc7;
}
.reasons_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

.label {
  width: 115px;
  height: 27px;
  margin: 0 auto;
  background: #000;
  font-weight: 400;
  font-size: 11px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.label_white {
  background: #fff;
  color: #070716;
}

.title {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.title_white {
  color: #fff;
}

.subtitle {
  margin-top: 1px;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222;
}
.subtitle_white {
  color: #fff;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/icons/card_1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/icons/card_2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/icons/card_3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/icons/card_4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/icons/card_5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/icons/card_6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.mobile_item_plus {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 16px;
  height: 3px;
  background-color: #1eacc7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mobile_item_plus:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  height: 16px;
  background-color: #1eacc7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.choice .dark {
  position: relative;
  min-height: 500px;
  background: #070716;
  padding-top: 57px;
}
.choice_img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -213px;
}
.choice .light {
  padding-top: 210px;
  min-height: 395px;
  background: url("../img/bg/light_auto.bg.jpg") center center/cover no-repeat;
}
.choice_text {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.require {
  padding: 68px 0 84px;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  font-weight: 400;
  font-size: 22px;
  color: #1eacc7;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
}
.require_list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url(../img/icons/check_blue.png) center center/cover no-repeat;
}
.require_descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1eacc7;
}
.require .warning .require_title {
  color: #ff5656;
}
.require .warning .require_list li:before {
  background: url(../img/icons/check_red.png) center center/cover no-repeat;
}

.world {
  min-height: 714px;
  padding-top: 46px;
  background: url("../img/bg/world_bg.jpg");
}
.world_link {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #1eacc7;
  text-decoration: none;
  display: block;
  margin-top: 456px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 150px;
  padding: 50px 25px;
}
.footer_social {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.footer_social_round {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #070716;
  cursor: pointer;
}
.footer_links {
  text-align: center;
  position: relative;
}
.footer_links_page_links a {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #070716;
}
.footer_links_page_links a + a {
  margin-left: 32px;
}
.footer_links_site_links {
  margin-top: 10px;
}
.footer_links_site_links a {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #999999;
}
.footer_links_site_links a + a {
  margin-left: 20px;
}
.footer_links_language a {
  margin-top: 10px;
  display: block;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1eacc7;
}
.footer_links:before {
  content: "";
  position: absolute;
  display: block;
  width: 300px;
  height: 7px;
  background: #1eacc7;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -30px;
}
.footer_downloads {
  min-width: 300px;
}

.xs_visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_link {
    font-size: 13px;
  }
  .menu_item + .menu_item {
    padding-left: 20px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .promo_header {
    font-size: 50px;
  }
  .reasons_wrapper {
    width: 298px;
  }
  .mobile_item {
    width: 300px;
    height: 265px;
  }
}
@media (max-width: 991px) {
  .menu {
    padding: 10px 20px;
  }
  .menu_link {
    font-size: 10px;
  }
  .menu_item + .menu_item {
    padding-left: 8px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_call {
    font-size: 11px;
  }
  .subheader_btn {
    width: 100%;
    height: 40px;
    margin-top: 21px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .reasons_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons_wrapper {
    margin-top: 20px;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer_links {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 15px;
  }
  .footer_downloads {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 767px) {
  .menu {
    padding: 15px;
    position: fixed;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8117647059);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding: 0;
    margin: 10px 0;
  }
  .menu_item + .menu_item {
    border: none;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .hamburger_active span {
    margin-bottom: -1px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs_visible {
    display: block;
  }
  .subheader_phone {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .subheader_btn {
    width: 200px;
    height: 40px;
    display: block;
    margin: 10px auto 0;
  }
  .promo_header {
    font-size: 38px;
    line-height: 45px;
  }
  .promo_subheader {
    font-size: 28px;
  }
  .footer_social {
    min-width: 0;
  }
  .choice_img {
    bottom: -110px;
    width: 400px;
  }
}
@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  header {
    height: 30px;
  }
  .menu {
    width: 80%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
  }
  .menu_link {
    display: block;
    font-size: 18px;
  }
  .subheader {
    height: 60px;
    top: 30px;
    margin-top: 20px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 20px;
  }
  .subheader_phone {
    font-size: 12px;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 9px;
  }
  .promo {
    min-height: 400px;
    padding: 155px 0 35px;
  }
  .promo_description {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    line-height: 35px;
    padding: 0 24px;
  }
  .promo_subheader {
    font-size: 20px;
    line-height: 23px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    font-size: 16px;
  }
  .title {
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px;
  }
  .subtitle {
    font-size: 14px;
    line-height: 21px;
  }
  .reasons {
    padding: 22px 0 36px;
  }
  .reasons_item {
    margin-top: 26px;
    margin-left: 0;
  }
  .reasons_round {
    width: 100px;
    height: 100px;
  }
  .reasons_wrapper {
    width: 100%;
    margin-top: 27px;
  }
  .reasons_title {
    font-size: 16px;
  }
  .reasons .mobile_item {
    width: 290px;
    height: 254px;
  }
  .reasons .mobile_subtitle {
    font-size: 18px;
  }
  .choice_img {
    bottom: -200px;
    width: 260px;
  }
  .choice .dark {
    min-height: 150px;
  }
  .choice .light {
    padding-bottom: 20px;
    min-height: 150px;
    background: #070716;
  }
  .choice_text {
    color: #fff;
  }
  .require_title {
    font-size: 16px;
  }
  .require_list li {
    font-size: 14px;
  }
  .require_descr {
    font-size: 14px;
  }
  .world {
    padding-top: 25px;
    min-height: 500px;
  }
  .world_link {
    margin-top: 345px;
  }
  .footer {
    padding: 25px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_social {
    margin-bottom: 15px;
  }
  .footer_links:before {
    width: 253px;
    height: 4px;
    top: -15px;
  }
  .footer_links_page_links a {
    font-size: 14px;
  }
  .footer_links_page_links a + a {
    margin-left: 13px;
  }
  .footer_links_site_links {
    margin: 0 15px;
  }
  .footer_links_site_links a {
    font-size: 11px;
  }
  .footer_links_site_links a + a {
    margin-left: 10px;
  }
  .footer_links_language a {
    font-size: 11px;
  }
}/*# sourceMappingURL=style.css.map */