.review {
  &__wrapper {
    position: relative;
    margin-top: 750px;
    height: 636px;
    background: url('../img/bg/review_bg.jpg') center center no-repeat;
    padding-top: 100px;
    margin-bottom: 130px;
  }
  &__title {
    color: $white;
    display: block;
    text-align: center;
  }
  &__description {
    color: $white;
    text-align: center;
    width: 400px;
    margin: 20px auto 0;
  }
  &__btn-round {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    display: block;
    position: relative;
    margin: 80px auto 0;
    img {
      position: absolute;
      z-index: 1;
      width: 36px;
      left: 50%;
      top: 50%;
      transform: translate(-40%, -50%);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      top: -16px;
      left: -16px;
      width: 132px;
      height: 132px;
      border-radius: 50%;
      background: $yellow;
      opacity: 0.5;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      top: -30px;
      left: -30px;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background: $yellow;
      opacity: 0.2;
    }
  }
  &__btn-download {
    width: 324px;
    height: 68px;
    border: none;
    position: absolute;
    bottom: -34px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 32px auto 0;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 34px;
      right: -67px;
      border: 34px solid transparent;
      border-left: 34px solid $yellow;
    }
    &::before{
        content: '';
        position: absolute;
        top: -28px;
        left: -34px;
        display: block;
        width: 75px;
        height: 75px;
        background: url('../img/icons/image_pdf.png') center center/cover no-repeat;
    }
  }
}
