$yellow: #ffdb06;
$yellow-hoveer: #fbdd48;
$green: #44803f;
$green-dark: #1f5a4f;
$red: #ff5a33;
$gray: #4c4a5a;
$gray-dark: #302f37;
$gray-middle: #757482;
$white: #ffffff;
$gray-super-light: #f4f4f4;
$gray-light: #b1b0bb;
$gray-middle-light: #e2e2e2;
